.rating-icon {
    margin: 0 -5px;
}

.torrent-anchor {
    outline: 0;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.error-text {
    color: red;
    text-transform: underline;
}

.clickable-text {
    outline: 0;
    text-decoration: underline;
    cursor: pointer;
}

.profile-contailer {
    font-size: 0.7em;
}