.rating-icon {
    margin: 0 -5px;
}

.torrent-anchor {
    outline: 0;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

login {
    position: fixed;
    margin: 0;
    top: 7px;
    left: 3px;
}

.error-text {
    color: red;
    text-transform: underline;
}